header{
    background: white;
    font-family: 'Noto Serif JP', serif;
    font-size: 12px;
}

body{
    background: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    margin:0;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

#site_container {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    position: relative;
}

#main_content {
    margin: 0 auto;
    min-height: 100%;
}

#background_transition {
    --transition-duration: 700ms;
}

#background_color {
    position: absolute;
    background: #F0BE65;
    height: 100%;
    width:100%;
    top:0;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}

#header_wrapper{
    background: transparent;
    position: relative;
    left:0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    height: 130px;
    grid-area: 1/1/2/2;
}

.pinned{
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    height:0;
}

#site_name{
    width: 200px;
    height: 102px;
    position: relative;
}

.logo_container {
    position: absolute;
    right: 0;
    bottom:0;
}

.logo {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #393636;
}

.content_tier1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#nav1 {
    height: 44px;
    width: 61px;
    position: absolute;
    right:0;
    transform: rotate(90deg);
}

#nav_background {
    background: #90CFB9;
    width: 68px;
    height: 100%;
    position: absolute;
    right:0;
}

#nav2 {
    height: 44px;
    width: 61px;
    position: absolute;
    right:0;
}


